.chat-window {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat-window-header {
    height: 60px;
    border-bottom: 1px solid var(--color-border);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-info {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 15px;
    margin-right: 15px;;
}

.header-name {
    font-size: 17px;
    color: var(--color-text-black);
}

.header-buttons {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.header-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    transition: all ease 0.3s;
}

.chat-window-body {
    flex: 1;
    overflow-y: auto;
    background-color: #e5dde5;
    background-size: cover;
    background-position: center;
    background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
    padding: 20px 30px;
}

.chat-window-body::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  .chat-window-body::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar);
  }
  

.chat-window-footer {
    height: 62px;
    display: flex;
    align-items: center;
}

.chat-footer-pre {
    display: flex;
    margin: 0 15px;
}


.chat-footer-input-area {
    flex: 1;
}

.chat-emoji-area {
    height: 200px;
    overflow-y: hidden;
    transition: all ease 0.3s;
}

.chat-footer-input {
    width: 100%;
    height: 40px;
    background-color: var(--color-bg-white);
    border-radius: 20px;
    font-size: 15px;
    color: var(--color-text-input);
    padding-left: 15px;
}

.chat-footer-pos {
    display: flex;
    margin: 0 15px;
}

aside.emoji-picker-react {
    width: auto;
    background: none;
}

.emoji-picker-react .emoji-group::before {
    background: none;
}